.orange {
    color: #d63a01;
}
.lightGrey {
    color: #eeeeee;
}
.textOnLgrey {
    color: #d1d2d3;
}
.darkGrey {
    color: #464646;
}
.textOnDgrey {
    color:#a3a3a3;
}
.textOnOrange {
    color: #ffffff;
}

.bgrnDarkGrey {
    background-color: #464646;
}
